body{
    background-color:pink;
}
li{
    display: inline-block;
	width:10%;
	text-decoration: none;
	background:rgb(156, 49, 85);
	color:white;
}
a:hover{
    font-family: 'Courier New', Courier, monospace;
	color:white;
	float:auto;
    
}
a{
	color:white;
}
a:visited{
	color:white;
}
img{
	width:30%;
}
main{
	color:rgb(156, 49, 85);
}
.maoh{
	height:500pt;
}
.dog{
	height:220pt;
}