body,html {
  padding: 0px;
  margin: 0px;
  background-image:url('../IMAGES/sakura.jpg');
}
.in{
  width:10%;
  height:75%;
  position: relative;
  left:-2000px;
  left:-2000px;

}
.nexth{
  width:9%;
  height:90%;
  float:right;
  position:relative;
  top:-50px;
  right:20px;
  border-radius: 20px; 
}
.box {
  border-radius: 10px; 
}
.sidebar {
  grid-area: sidebar;
}


.content {
  grid-area: content;
  background-color:rgba(255,255,255,0.5);
}

.header {
  grid-area: header;
  justify-self: stretch;
  text-align:center;
  color:rgba(68, 67, 67,0.7);
  font-size:80%;
  font-family: 'Charmonman', cursive;
  background-color:rgba(255,255,255,0.5);
  line-height: 150%;
}


.footer {
  grid-area: footer;
  text-align: center;
  line-height: 15px;
  padding: 15px;
  color:rgba(68, 67, 67,0.9);
  background-color:rgba(255,255,255,0.5);
}

.wrapper {
        display: grid;
        grid-gap: 3px;
        grid-template-rows: 50px 80px 240px 80px;
        grid-template-areas:
        "header "
        "sidebar "
        "content "
        "footer ";
        justify-content: center;
    }
.flex-container {
   
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      height:80px;
      margin-top:0px;
    }
.special{
  position:absolute;
  left:-1000px;
}
    
.flex-item {
      
      border-radius:10%;
      background-color:rgba(68, 67, 67,0.7);
      margin-bottom: 5px;
      margin-left:-50px;
      width: 45%;
      height: 30px;
      text-align: center;
      line-height: 30px;
      }
a{
        color:white;
        text-decoration: none;
  }
a:visited{
      color:white;
  }
.item-b{
    margin-top:-70px;
    font-size:100%;
    color:rgba(37, 37, 37, 0.9);
    margin-left:5px;

}
p{
  text-indent:50px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
      background-color: aqua;
}
@media screen and (min-width:737px){
  .in{
    width:10%;
    height:75%;
    position: static;
    left:-1000px;
  
  }
  .nexth{
    position:relative;
    left:-2000px;
  }
  .special{
    position:static;
  }
  
  .box {
    border-radius: 10px; 
  }
  .sidebar {
    font-size:150%;
    
  }
 
  
  .content {
    font-size:150%;
  }
  
  .header {
    font-size:150%;
    line-height: 150%;
  }


  .footer {
    grid-area: footer;
    text-align: center;
    line-height: 15px;
    padding: 15px;
    color:rgba(68, 67, 67,0.9);
    background-color:rgba(255,255,255,0.5);
  }
  
  .wrapper {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 200px 600px 300px;
          grid-template-rows: 100px 60px 430px 80px;
          grid-template-areas:
          "header  header  header"
          "sidebar sidebar sidebar"
          "content content content"
          "footer  footer  footer";
          justify-content: center;
      }
  
  
  
  img{
    position:static;
	
}
  
  @import "compass/css3";

.flex-container {
  margin: 5px;
  align-items: flex-start;
  flex-direction: row;
  margin-left:0px;
}

.flex-item {
  
  border-radius:10%;
  width: 200px;
  height: 55px;
  margin-right:5px;
  margin-left:0px;
  text-align: center;
  line-height: 50px;
  
  
}
.container{
    padding: 0;
    margin: 8px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    flex-direction: row;

}
.item-a{
    
    width: 280px;
    height: 400px;
    margin-top: 5px;
    margin-right:20px;
    margin-left:70px;
    text-align: center;
    line-height: 50px;

}
.item-b{
    padding: 10px;
    width: 680px;
    height: 380px;
    margin-top: 12px;
    margin-right:20px;
    line-height: 30px;
    
    font-size:100%;
    color:rgba(37, 37, 37, 0.9);

}

}